/* primary color: rgb(78, 169, 218) */
/* secondary color: rgb(32, 33, 33) */

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'roboto', sans-serif;
  color: rgb(78, 169, 218);
  font-size: 62.5%;
}

canvas { position: fixed; }

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

header {
  height: 100vh;
  text-align: center;
}

.header__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  text-align: left;
  font-size: 9rem;
  font-weight: 700;
  -webkit-text-stroke: 20px green;
  text-transform: uppercase;
  letter-spacing: -0.08em;
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-bottom: 2rem;
}

.header-word {
  display: block;
  line-height: 0.8em;
}

.header-word::first-letter {
  color: rgb(78, 169, 218);
  -webkit-text-stroke-color: rgb(78, 169, 218);
}

.full-view-height {
  min-height: 100vh;
}


.tagline {
  font-size: 2.4rem;
  font-weight: 200;
}