/* primary color: rgb(78, 169, 218) */
/* secondary color: rgb(32, 33, 33) */

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'roboto', sans-serif;
  color: rgb(78, 169, 218);
  font-size: 62.5%;
}

canvas {
  position: fixed;
  z-index: -1;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

header { height: 100vh; }

.header__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.full-view-height {
  min-height: 100vh;
}

.tagline {
  font-size: 3.5rem;
  font-weight: 200;
  text-align: left;
}

.name-container {
  margin: 2rem 0;
}
.name svg { height: 8rem; }
.section__title svg {
  height: 5rem;
  display: none;
}

.animated-letter {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  fill-opacity: 0;
  animation: draw 2s ease-in forwards;
  -webkit-animation: draw 2s ease-in forwards;

  -moz-animation: draw 2s ease-in forwards;

  -o-animation: draw 2s ease-in forwards;
}

@keyframes draw {
  0% { stroke-dashoffset: 500; }
  75% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }
  95% { stroke-dashoffset: 500; }
  100% { fill-opacity: 1; }
}


.section__text {
  font-size: 2.5rem;
  font-weight: 200;
}

.section__title {
  position: relative;
  top: 10rem;
}

.about { position: relative; }

.about .section__text {
  color: #666;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}