/* primary color: rgb(78, 169, 218) */
/* secondary color: rgb(32, 33, 33) */

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'roboto', sans-serif;
  color: rgb(78, 169, 218);
  font-size: 62.5%;
}

canvas { position: fixed; }

header {
  height: 100vh;
  text-align: center;
}

.header__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 6rem;
}

.tagline {
  font-size: 2.6rem;
  font-weight: 200;
}