/* primary color: rgb(78, 169, 218) */
/* secondary color: rgb(32, 33, 33) */
* { box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'roboto', sans-serif;
  color: rgb(78, 169, 218);
  font-size: 62.5%;
}

body { transition: 500ms ease; }

body.body--colored {
  color: #fff;
  background-color: rgb(78, 169, 218);
}

.body--colored svg path { fill: rgb(255, 255, 255); }
.body--colored .about .section__content--text { color: #fff; }

canvas {
  position: fixed;
  z-index: -1;
}

.wrapper {
  max-width: 1110px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

header { height: 100vh; }

.header__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.full-view-height {
  min-height: 100vh;
}

.tagline {
  font-size: 3.5rem;
  font-weight: 200;
  text-align: left;
}

.social-icons {
  position: relative;
  top: 7rem;
  font-size: 5rem;
}

.social-icons a {
  position: relative;
  top: 0;
  color: #fff;
  text-decoration: none;
}

.social-icons a:hover {
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes bounce {
  0% { top: 0.5rem; }
  20% { top: -0.4rem; }
  40% { top: 0.3rem; }
  60% { top: -0.2rem; }
  80% { top: 0.1rem; }
}

.social-icons i {
  padding-right: 3rem;
}

.social-icons i:hover {
  cursor:pointer;
}

.name-container { margin: 2rem 0; }
.name svg { height: 8rem; }
.section__title svg {
  height: 5rem;
  display: none;
}

.animated-letter {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  fill-opacity: 0;
  animation: draw 1.5s ease-in forwards;
  -webkit-animation: draw 1.5s ease-in forwards;
  -moz-animation: draw 1.5s ease-in forwards;
  -o-animation: draw 1.5s ease-in forwards;
}

@keyframes draw {
  0% { stroke-dashoffset: 500; }
  75% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }
  95% { stroke-dashoffset: 500; }
  100% { fill-opacity: 1; }
}

.section__content {
  position: relative;
  top: 5rem;
}

.section__content--text {
  font-size: 2.5rem;
  font-weight: 200;
}

.about { position: relative; }

.about .section__content--text { color: #666; }

@media (max-width: 800px) {
  .wrapper { padding: 0 1.5rem; }

  .section__content--text {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.5em;
    letter-spacing: 0.05em;
  }

  .tagline {
    font-size: 2.5rem;
    font-weight: 200;
    text-align: left;
  }

  .name svg { height: 5rem; }
  .section__title svg { height: 3rem; }

  .social-icons {
    font-size: 3rem;
  }

  .social-icons i {
    padding-right: 1.5rem;
  }
}

/***************************************************
  Toggle Button
***************************************************/
.toggle {
  animation-name: bounce-vertical;
  animation-delay: 2.2s;
  animation-duration: 1s;
  background-color: #ddddde;
  border-radius: 6rem;
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255,.4), 0 1px 0 0 rgba(0, 0, 0, 0.10) inset;
  cursor: pointer;
  width: 8rem;
  height: 4rem;
  overflow: hidden;
  position: relative;
  top: 5rem;
  transition: all .25s linear;
}

@keyframes bounce-vertical {
  0% { top: 4rem; }
  20% { top: 5rem; }
  40% { top: 4rem; }
  60% { top: 5rem; }
  80% { top: 4rem; }
  100% { top: 5rem; }
}

.toggle .slide {
  color: #818283;
  color: rgba(0,0,0,.15);
  background: #efefef;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
  text-decoration: none;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 5px;
  left: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 1px 0 rgba(255, 255, 255, .8) inset;
  transition: all 0.3s cubic-bezier(0.43, 1.3, 0.86, 1);
}

.toggle .slide span{
  text-shadow: 0 1px 1px rgba(255,255,255,.7), 0 0 1px rgba(0,0,0,.3);
}
.toggle .slide:before,
.toggle .slide:after {
  color: #fff;
  content: "\f185";
  font-family: fontAwesome;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: -5px;
}

.toggle .slide:before {
  right: -3rem;
  color: #2a2b2c;
  opacity: 0.2;
}

.toggle .slide:after {
  content: "\f186";
  left: -3rem;
  color: #fff;
}

.toggle.on { background: #666; }

.toggle.on .slide {
  left: 4.5rem;
  color: #666;
}

/***************************************************
  End of Toggle Button
***************************************************/

/***************************************************
  Portfolio Item
***************************************************/
.portfolio .grid-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0;
}

.portfolio__item {
  position: relative;
  display: block;
  padding: 2rem;
  width: 50%;
}

.portfolio__item a { text-decoration: none; }

.screen {
  position: relative;
  display: block;
  z-index: 10;
  box-shadow: 1rem 1.5rem 0 rgba(0,0,0,.15);
  overflow: hidden;
}

.bar {
  display: block;
  position: relative;
  height: 2.4rem;
  background-color: #ddd;
  width: 100%;
  color: #6a6a6a;
  z-index: 10;
 }

 .body--white .bar {
   background-color: #666;
   color: #fff;
 }

 .bar h2 {
  content: attr(data-text);
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2.6rem;
  letter-spacing: -.5px;
  color: #8a8a8a;
 }

.bar i,
.bar i::before,
.bar i::after {
  height: 1.2rem;
  width: 1.2rem;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 6px;
}

 .bar i {
  background-color: #ff5f57;
  left: 1rem;
}


.bar i::before {
  top: 0;
  content: " ";
  left: 1.6rem;
  background-color: #ffbd2e;
}

.bar i::after {
  top: 0;
  content: " ";
  left: 3.2rem;
  background-color: #28ca41;
}

.main {
  background-size: cover;
  background-color: #fff;
  padding-top: 58%;
  position: relative;
  background-position: center center;
  display: block;
  width: 100%;
  border-radius: 0;
  -moz-transform-style: flat;
  -webkit-transform-style: flat;
  transform-style: flat;
}

.main::before {
    content: "";
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid-list img {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
  .grid-list .portfolio__item {
      width: 100%;
  }
}